.updateForm {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.7rem;
  max-width: 400px;
}

.updateFormLabel {
  font-size: 0.8rem;
  line-height: 1;
}

.updateFormInput {
  height: 2rem;
  padding: 0.5rem;
  color: #fff;
  background: none;
  outline: none;
  border: 1px solid #fff;
  align-self: stretch;
  border-radius: 0.2rem;
}

.updateFormFieldset {
  display: flex;
  padding: 0;
  border: none;
}

/* Code duplication, should be refactored */
.buttonElement {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  font-weight: 600;
  line-height: 1;
  color: #fff;
  background: none;
  border: 1px solid #fff;
  border-radius: 1.2rem;
  cursor: pointer;
  text-transform: uppercase;
  flex: 0 0 auto;
}

.buttonElement:disabled {
  opacity: 0.3;
  cursor: default;
}

.buttonElement + .buttonElement {
  margin-left: 0.7rem;
}

.btnColored {
  background: #437dcf;
  border-color: #437dcf;
}
